*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Ignore above */

body {
	margin: 0;
	color: #fff;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #2e3136;
	}
}

@media (max-width: 768px) {
	.card {
		display: block;
	}
}

p {
	font-family: 'Nunito', sans-serif;
}

p a {
	color: #fff;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.flex-thing {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

ul {
	position: fixed;
  	top: 0;
  	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #2e3136;
  }
  
  li {
	float: left;
	border-radius: 5px;
  }
  
  li a {
	font-family: 'Nunito', sans-serif;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: #111;
  }

.active {
	background-color: #4a4c51;
}
.center-text {
	text-align: center;
}

.card {

	font-family: 'Nunito', sans-serif;

	display: inline-block;
	
	border-radius: 15px;

	color: #fff;
	background-color: #1e2124;

	margin-top: 200px;
	margin-bottom: 50px;
	padding: 19px;

	user-select: none;
}
.card.big {
	font-size: 25px;
}

.card.big a {
	text-decoration: none;
}

.card.big a:visited {
	color: #4a4c51;
}

.card.big:hover a {
	
	color: #fff;
	background-color: #4a4c51;
}

.card.big:hover {
	background-color: #4a4c51;
}

.dropdown {
	position: relative;
	display: inline-block;

}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #2e3136;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}
  
  .dropdown:hover .dropdown-content {
	display: block;
}

i {
	margin-bottom: 20px;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

iframe {
	pointer-events: none;
}
