*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Ignore above */

body {
	margin: 0;
	color: #fff;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #2e3136;
	}
}

p {
	font-family: 'Nunito', sans-serif;
}

.flex-thing {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.main {
	justify-content: flex-start;
}

.center-text {
	text-align: center;
}

.card {

	font-family: 'Nunito', sans-serif;

	display: inline-block;
	
	border-radius: 15px;

	color: #fff;
	background-color: #1e2124;

	margin: 20px;
	padding: 19px;

	user-select: none;
}
.card.big {
	font-size: 25px;
}

.card.big:hover {
	background-color: #4a4c51;
}

@media (max-width: 768px) {
	.card {
		display: block;
	}
}

i {
	margin-bottom: 20px;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

iframe {
	pointer-events: none;
}
